* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

a,
a:active,
a:visited {
    color: #a27474;
}

header h1 a,
header h1 a:active,
header h1 a:visited {
    color: #4a4a4a;
    text-decoration: none;
}

h1 a,
h1 a:active,
h1 a:visited {
    text-decoration: none;
}

#mount h1 a,
#mount h1 a:active,
#mount h1 a:visited {
    font-size: 18px;
    margin-left: 5px;
    border-left: solid 1px #bbb;
    padding-left: 12px;
    display: inline-block;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    background-color: #094;
    transition: all 0.4s;
    height: 4px;
    transform: scaleX(0);
    width: 100%;
}

#loading.error {
    background-color: #900;
}
